nav {
    display: flex;
    justify-content: end;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    padding: 0.5em;
}

input {
    width: 100%;
    margin-bottom: 1em;
}

i {
    margin: 10px;
    color: #17729b;
    width: 15px;
    height: 15px;
}

#bio {
    display: block;
    width: 100%;
    resize: vertical;
    padding: 8px;
}

button {
    text-align: center;
    text-decoration: none;
    padding: 1em;
    margin: 1em 5em;
    background-color: #3a8fc6;
    /* border-radius: 28px; */
    border-radius: 10px;
    border: 1px solid #17729b;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1e5e87;
}

button:hover {
    background-color: #45a2d6;
}

button:active {
    position: relative;
    top: 1px;
}

#cancel {
    text-align: center;
    text-decoration: none;
    padding: 1em;
    margin: 1em 5em;
    background-color: #3a8fc6;
    /* border-radius: 28px; */
    border-radius: 10px;
    border: 1px solid #17729b;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1e5e87;
}

#cancel:hover {
    background-color: #45a2d6;
}

#cancel:active {
    position: relative;
    top: 1px;
}
