nav {
    display: flex;
    justify-content: end;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: 1.3rem;
}

main {
    display: grid;
    place-content: center center;
    height: 75vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
