.navigation {
    display: flex;
    justify-content: end;
    padding: 1em;
}

.navigation__link {
    text-decoration: none;
    color: var(--black);
    font-size: 1.1rem;
    position: relative;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: calc(1rem + 0.66667vw);
}

.navigation__link:last-child {
    margin-right: 3.5em;
}

.navigation__link:link::before,
.navigation__link:visited::before,
.navigation__link:link::after,
.navigation__link:visited::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--darkBlue);

    transform: scaleX(0);

    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

.navigation__link:link::before,
.navigation__link:visited::before {
    top: 0;
    transform-origin: left;
}

.navigation__link:link::after,
.navigation__link:visited::after {
    bottom: 0;
    transform-origin: right;
}

.navigation__link:hover::before,
.navigation__link:active::before,
.navigation__link:hover::after,
.navigation__link:active::after {
    transform: scaleX(1);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.main__container {
    padding: 1em;
}

.main__title {
    padding: 0.5em;
}

p {
    margin: 0.5em;
    padding: 0.8em;
    font-size: 1.3rem;
}

.profile {
    padding: 1em !important;
    margin: 0.5em !important;
}
